[Unit]
Description=Setup and maintain PIA VPN connection

[Timer]
Unit=pyia.service
OnCalendar=*:0/15
AccuracySec=2m
Persistent=true

[Install]
WantedBy=timers.target
